#!/usr/bin/make -f

%:
	dh $@ --with autotools_dev

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-mail \
		--enable-imfile \
		--enable-impstats \
		--enable-gnutls \
		--enable-relp \
		--enable-omprog \
		--disable-testbench \

override_dh_auto_install:
	dh_auto_install

override_dh_compress:
	dh_compress -X rsyslog-example.conf

override_dh_installinit:
	dh_installinit -R -- start 10 2 3 4 5 . start 30 0 6 . stop 90 1 .
