#!/usr/bin/make -f
unexport LDFLAGS
%:
	dh $@ --with autotools_dev

override_dh_auto_configure:
	CLFAGS=-g dh_auto_configure -- \
		--enable-debug \
		--disable-testbench \
		--enable-gnutls \
		--enable-imptcp \
		--enable-relp \
		--enable-omprog \
		--enable-omtemplate \
		--enable-imtemplate \
		--enable-omuxsock \
		--enable-omruleset \
		--enable-impstats \
		--enable-imttcp \
		--enable-imfile

override_dh_auto_install:
	dh_auto_install

override_dh_compress:
	dh_compress -X rsyslog-example.conf

override_dh_installinit:
	dh_installinit -R -- start 10 2 3 4 5 . start 30 0 6 . stop 90 1 .
